.dev-photo {
  max-width: 100%;
  width: 100%;
}

.table-striped {
  margin-bottom: 0;
}

.table-striped tr td:last-child {
  text-align: right;
}

.dev-links td {
  line-height: 24px;
}

.dev-links .badge {
  margin-left: 5px;
  background-color: #337AB7;
}

.dev-detail {
  margin-bottom: 10px;
}

.dev-detail p {
  margin: 0;
}

.panel {
  padding: 10px;
}

.heroes div {
  margin-bottom: 10px;
  opacity: 0.75;
  -webkit-transition: 0.3s ease-in opacity;
  -o-transition: 0.3s ease-in opacity;
  transition: 0.3s ease-in opacity;
}

.heroes div:hover {
  opacity: 1;
}

.navbar {
  border-radius: 0;
}