<h2>{{model.name}}'s Github</h2>
<hr>
<ul>
  <li>{{#link-to 'user.repositories'}}Repositories{{/link-to}}</li>
  <li>{{#link-to 'user.repositories'}}News and Events{{/link-to}}</li>
  <li>{{#link-to 'user.repositories'}}Gists{{/link-to}}</li>
</ul>
{{outlet}}
