<div class="row">
  <div class="col-md-12">
    <p class="lead">
      This is the Github explorer for all of the top devs. 
    </p>
    <div class="row heroes">
      {{#each dev in model}}
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 text-center">
        {{#link-to 'user' dev.login}}
          <img {{bind-attr src=dev.avatar_url}} class="dev-photo" alt="">
        {{/link-to}}
        {{#link-to 'user' dev.login}}
          {{dev.login}}
        {{/link-to}}
      </div>
      {{/each}}
    </div>
  </div>
</div>    
{{outlet}}
